title: 'End Session'
type: 'object'
properties:
  metadata:
    properties:
      jobType:
        default: 'EndSession'
        enum: [
          'EndSession'
        ]
        type: 'string'
      respondTo: {}
      responseId:
        title: 'Response ID'
        type: 'string'
      endSession:
        title: 'End Session'
        type: 'boolean'
        default: true
    required: [
      'endSession'
      'jobType'
    ]
    type: 'object'
  data:
    type: 'object'
    properties: {}
