title: 'Say'
type: 'object'
properties:
  metadata:
    properties:
      jobType:
        default: 'Say'
        enum: [
          'Say'
        ]
        type: 'string'
      respondTo: {}
      responseId:
        title: 'Response ID'
        type: 'string'
      endSession:
        title: 'End Session'
        type: 'boolean'
        default: true
    required: [
      'responseId'
      'endSession'
      'jobType'
    ]
    type: 'object'
  data:
    type: 'object'
    properties:
      phrase:
        title: 'Phrase'
        type: 'string'
    required: [
      'phrase'
    ]
